<!DOCTYPE html>
<html>
<head>
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to Our Site!</h1>
    <p>This is the home page of your application.</p>

    {% if account %}
        <p>{{ account.name }}</p>
        баланс счета <p>{{ account.balance }}</p>
    {% endif %}
    <h2>Пополнить счет</h2>
        <form action="{% url 'top_up_account' %}" method="post">
            {% csrf_token %}
            <label for="amount">Сумма пополнения:</label>
            <input type="number" id="amount" name="amount" required>
            <button type="submit">Пополнить</button>
        </form>
    {% if bills %}
        <h2>Ваши счета:</h2>
        <ul>
            {% for bill in bills %}
                <li>
                    Счет за {{ bill.bill_type }} | 
                    Сумма: {{ bill.amount }} | 
                    Выставлен: {{ bill.issued_date }} | 
                    Статус оплаты: {% if bill.is_payed %}Оплачено{% else %}Не оплачено{% endif %} |{% if not bill.is_payed %}
                    <!-- Display the Pay button only if the bill is not paid -->
                    <form action="{% url 'pay_bill' bill.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Оплатить</button>
                    </form>
                {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>У вас нет текущих счетов.</p>
    {% endif %}
</body>
</html>
